<div class="jumbotron">
     <h1 class="title">永恒引擎</h1>
     <p class="slogan">永恒引擎是一家专门研发飞机引擎的公司。
     <br>
     我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
     <br>
      凭借自己的努力和天份也会变 Winner
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">查看岗位</a></p>
   </div>
   <section id="company">
     <div class = "container">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww3.sinaimg.cn/large/006tNc79jw1fc2tg0ilavj303k03idfr.jpg" alt="search" class = "img-thhumbnail">
             <div class="caption">
               <h3>电池部门</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww1.sinaimg.cn/large/006tNc79jw1fc2tfcncy8j303k03i3yg.jpg" alt="bid" class = "img-thhumbnail">
             <div class="caption">
               <h3>航天部门</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww2.sinaimg.cn/large/006tNc79jw1fc2thpatu5j303k03iaa1.jpg" alt="heart" class = "img-thhumbnail">
             <div class="caption">
               <h3>引擎部门</h3>
             </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww4.sinaimg.cn/large/006tNc79jw1fc2tifavfmj303k03iwee.jpg" alt="search" class = "img-thhumbnail">
             <div class="caption">
               <h3>移动部门</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww1.sinaimg.cn/large/006tNc79jw1fc2tis2ielj303k03iaa0.jpg" alt="bid" class = "img-thhumbnail">
             <div class="caption">
               <h3>运营部门</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="https://ww1.sinaimg.cn/large/006tNc79jw1fc2tjazqfgj303k03i747.jpg" alt="heart" class = "img-thhumbnail">
             <div class="caption">
               <h3>社交部门</h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
